rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Catch-all deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }
    function hasRole(role) {
      return isSignedIn() && request.auth.token.role == role;
    }
    function isCompany(companyId) {
      return isSignedIn() && request.auth.token.companyId == companyId;
    }
    
    match /panicEvents/{eventId} {
      allow read, write: if hasRole('admin') && isCompany(resource.data.companyId);
      allow read: if (hasRole('developer') || hasRole('supervisor') || hasRole('manager')) && isCompany(resource.data.companyId);
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      
      allow create, update, delete: if false; 
    }
  }
}
